* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 3rem;
    font-size: 1.3rem;
    color: gray;
}

.number {
    border: 1px solid black;
    padding: 3rem;
    font-size: 3rem;
}

.roll {
    padding: 1rem 3rem;
    margin: 1rem;
    cursor: pointer;
}

#bid {

    text-align: center;
    font-size: 1.3rem;
    width: 8rem;
    margin-bottom: 1rem;
}

.wallet {
    font-size: 1.4rem;
    font-weight: bold;
    color: green;
}

.results div {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.wallet-change {
    color: green;
    font-size: 2rem;
}